services:
  nextjs:
    build:
      context: ./apps/web
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:1488@postgres:5432/report_db?schema=public
    depends_on:
      postgres:
        condition: service_healthy

  websocket:
    build:
      context: ./apps/websocket
      dockerfile: Dockerfile
    ports:
      - "3001:3001"

  postgres:
    image: postgres:15
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 3s
      retries: 5
    container_name: postgres
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1488
      POSTGRES_DB: report_db
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
